# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
venv/

# IDE settings
.idea/
*.iml

# Model files
*.pkl
*.joblib

# Large datasets
data/
